.content{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
.Windiest_airport{
    border-style: solid;
    border-color: #3c87e9;
    border-width: 2px;
    width: 150px;
    height: 50px;
}
.horizontal_center{
    margin:0 auto;
    text-align: center;
}
#ICAO_airport{
    text-align: center;
    border-style: solid;
    border-color: rgb(50, 103, 184);
    border-width: 2px;
    border-radius: 10px;
}
#Metar{
 margin-top: 2px;
 text-align: center;
 font-style: italic;
 font-weight: bold;
}
.Icao_entry{
    width: 80%;
    
    text-align: center;

}
.title_of_part{
    text-decoration: underline;
    color: rgb(50, 103, 184);
    font-size: 1.5em;
}

#windiest_airport_name{
    text-decoration: underline;
    color: rgb(50, 103, 184);
    font-weight: bold;
    font-size: 1em;
}

.titre{
    text-align: center;
    font-size: 1em;
}
.button_validate{
    margin-top: 0.3em;
    background-color: #aacfff;
    border-radius: 10px;
    border-style: none;

}
.button_validate:hover{
    background-color: #3c87e9;
}