.content{
    height: 300px;
    width: 350px;
    border-radius: 15px;
}
#Windiest_airport{
    margin-bottom: 20px;
}
.horizontal_center{
    margin:0 auto;
    text-align: center;
}
#ICAO_airport{
    text-align: center;
    width: 95%;
    border-style: solid;
    border-color: rgb(50, 103, 184);
    border-width: 2px;
    border-radius: 10px;
}

#list_ifr_charts{
    text-align: center;
    width: 95%;
    border-style: solid;
    border-color: rgb(50, 103, 184);
    border-width: 2px;
    border-radius: 10px;
}

#Metar{
 margin-top: 2px;
 text-align: center;
 font-style: italic;
 font-weight: bold;
}

#advise{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.title_advise{
    color: rgb(97, 117, 146);
    font-size: 1.2em;
    font-style: italic;
}

#advise_content{
    visibility: hidden;
}

.Icao_entry{
    width: 80%;
    
    text-align: center;

}
.title_of_part{
    text-decoration: underline;
    color: rgb(50, 103, 184);
    font-size: 1.5em;
}

#windiest_airport_name{
    text-decoration: underline;
    font-style: italic;
    color: rgb(87, 87, 87);
    font-weight: light;
    font-size: 1.2em;
}

.titre{
    text-align: center;
    font-size: 1em;
}
.button_validate{
    margin-top: 0.3em;
    background-color: #aacfff;
    border-radius: 10px;
    border-style: none;

}
.button_validate:hover{
    background-color: #3c87e9;
}

#zone_charts{
    visibility: hidden;
}