body{
    height: auto;
    width: 280px;
    margin:0px !important;
    border-radius: 5px
}
.page_content{
    height: 100%;
    width: 100%;
    background-color:#454242;
}

.nav_button{
    height:auto;
    width: 95%;
    border-style: solid;
    border-color: #707070;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.0); /* Transparant */

}

.nav_button .text_content{
    font-size: 0.9em;
    color: #7D9ED4;
}

.zone_welcome_airport{
    width: 95%;
    height:80px;
    border-style: solid;
    border-color: #707070;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);   /* Transparant */
}

.zone_windiest_airport{
    width: 95%;
    height:95px;
    border-style: solid;
    border-color: #707070;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);   /* Transparant */
}

.zone_metar_charts{
    width: 98%;
    min-height:200px;
    height:95%;
    border-style: solid;
    border-color: #707070;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);   /* Transparant */
    margin-bottom: 0.5em;
}


.titre_zone{
    color: #65939F;
    font-size: 1.2em ;
    font-weight: bold;
    text-align: center;

}
.welcome_message{
    margin-left: 0.1em;
    color: #7D9ED4;
    font-size: 0.8em ;
    font-weight: lighter;
    font-style: italic;
}
.input_zone_metar_charts{
    width: 98%;
    border-style: solid;
    border-color: #707070;
    border-radius: 20px;
    text-align: center;

}
.text_in_button_form{
    font-family: Palatino;
    font-size: 1.2em;
    color: #7D9ED4;
}
.button_form{
    height:auto;
    min-width: 35%;
    width: auto;
    border-style: solid;
    border-color:#7D9ED4;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0); /* Transparant */
}

.zone_display_metar{
    width: 98%;
    height:auto;
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);   /* Transparant */
}

.titre_zone_charts{
    font-family: Palatino;
    font-size: 1.2em;
    color: #7D9ED4;
}

#name_of_windiest_airport{
    text-decoration: underline;
    font-style: italic;
    color: rgb(87, 87, 87);
    font-weight: light;
    font-size: 1em;
}

#metar_of_windiest_aiport{
    margin-top: 2px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: white;
   }

#Metar_display,#Airport_Advise{
    margin-top: 2px;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    color: white;
    font-size: 0.8em;
}

#Advise_title{
    margin-top: 2px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
    text-decoration: underline;
}

#zone_ifr_charts,#zone_display_metar{
    visibility: hidden;
}